{% extends 'base.html' %}


{% block content %}
 <h1>{{ object.title }}</h1>
<img src="{{ object.image.url }}" alt="">
<p>{{ object.content|truncatechars:20 }}</p>
<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Comment</button>
</form>


{% for comment in object.comments %}

    {{ comment}}
    {{ comment.content }}
        
{% endfor %}

<form action="{% url 'blog:like' object.slug %}" method="POST">
{% csrf_token %}
    <input type="hidden" name="post">
    <input type="hidden" name="user">
    <button type="submit">Like</button> {{ object.like_count}}
</form>
<br>

{% if user.id == object.author.id %}
<a href="{% url 'blog:detail' object.slug%}">update</a>
<a href="{% url 'blog:delete' object.slug%}">delete</a>
    
{% endif %}
    

{% endblock content %}
    